html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: sans-serif;
    line-height: 1;
    background-color: #f9f9fd;
}

.search-form {
    display: flex;
    justify-content: center;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

input {
    padding: 8px;
}

placeholder {
    resize: none;
}

.load-more {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    
}

.load-more__btn {
    display: none;
}

.visible {
    display: block;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    gap: 10px;
    padding: 0;
    list-style: none;
    /* text-decoration: none; */
}

.gallery__item {
    flex-basis: calc((100% - 30px) / 4);
    text-decoration: none;
}

.gallery__image {
    max-width: 350px;
    height: 250px;
}

.photo-card img {
    display: flex;
    flex-wrap: wrap;
    margin-right: 10px;
}

.info {
    display: flex;
    flex-wrap: wrap;
    margin-right: 10px;
}

.info-item {    
    display: inline-block;
    text-align: center;
    margin: 10px;
    font-weight: 400;
    text-decoration: none;
    color: black;
}
